<mat-nav-list>
    <h2 matSubheader>Functions</h2>
   <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/'+node.type,node.name]"><mat-icon>{{node.icon}}</mat-icon>{{node.name}}</a>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon style="padding-left:20px">{{node.icon}}</mat-icon>
            {{node.name}}
            <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        </mat-tree-node>
    </mat-tree>
<!--     
    <a class="item" mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a> -->
 
    <mat-divider></mat-divider>
    <h2 matSubheader>Applications</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>
