<div class="site-wrapper" >
    <div class="site-wrapper-inner" style="background-image: url(assets/imgs/background.png);">
      <div class="cover-container" >
        <div class="inner cover" >
          <h1 class="cover-heading" style="color: white;">Welcome to our blockchain platform</h1>
          <p class="lead" style="color:white;">Blockchain Technology which kicked off in 2008, still in its infancy, has taken the world by a huge storm. It is 
          indubitably a pioneering invention. By design, the blockchain is a decentralized technology, a distributed ledger system. It only permits the digital information
        to be distributed and not modified.</p>
        </div>
      </div>
    </div>
  </div>
